Repository hashgraph/hedera-smart-contracts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/hedera-smart-contracts-product, @hashgraph/platform-ci, @hashgraph/release-engineering-managers, @hashgraph/platform-ci-committers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                      @hashgraph/hedera-smart-contracts-product

############################
##### Smart contracts ######
############################
/contracts                             @hashgraph/hedera-smart-contracts-product
/test                                  @hashgraph/hedera-smart-contracts-product

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/CODEOWNERS                             @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci @hashgraph/platform-ci-committers @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts-product
**/LICENSE                                      @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts-product
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/release-engineering-managers @hashgraph/hedera-smart-contracts-product

update package lock file
  package-lock.json
Owners: @hashgraph/hedera-smart-contracts-product

fix broken test from 0.61.0 update
  test/system-contracts/hedera-account-service/ihrc-632/aliasAccountUtility.js
Owners: @hashgraph/hedera-smart-contracts-product

unskip skipped test
  test/system-contracts/hedera-account-service/ihrc-632/aliasAccountUtility.js
Owners: @hashgraph/hedera-smart-contracts-product

chore: update ERC Registry with latest ERC-20, ERC-721, and ERC-1155 tokens on Hedera testnet (#1307)
  tools/erc-repository-indexer/erc-contract-indexer/erc-registry/testnet/erc-1155.json
  tools/erc-repository-indexer/erc-contract-indexer/erc-registry/testnet/erc-20.json
  tools/erc-repository-indexer/erc-contract-indexer/erc-registry/testnet/erc-721.json
  tools/erc-repository-indexer/erc-contract-indexer/erc-registry/testnet/next-pointer.json
Owners: @hashgraph/hedera-smart-contracts-product

fix: updated ERC Registry workflow to reference the MNE repo under hiero-ledger organziation
  .github/workflows/erc-registry-indexer.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: remove skip flag from tests (#1295)
  package-lock.json
  package.json
  test/system-contracts/hedera-account-service/ihrc-632/aliasAccountUtility.js
  test/system-contracts/hedera-token-service/hrc-904/AirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/CancelAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/ClaimAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/IHRC904ProxyTests.js
  test/system-contracts/hedera-token-service/utils.js
Owners: @hashgraph/hedera-smart-contracts-product

fox: Update flow-pr-title-check.yml
  .github/workflows/flow-pr-title-check.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix: Update flow-pr-title-check.yml (#1323)
  .github/workflows/flow-pr-title-check.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

build(deps-dev): Bump @openzeppelin/contracts from 5.2.0 to 5.3.0
  package-lock.json
  package.json
Owners: @hashgraph/hedera-smart-contracts-product

fix: updated ERC Registry workflow to reference the MNE repo under hiero-ledger organziation
  .github/workflows/erc-registry-indexer.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

feat: split up hip 904 tests into 3 batches
  .github/workflows/manual-testing.yml
  .github/workflows/tests.yml
  test/system-contracts/hedera-token-service/hrc-904/AirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/CancelAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/ClaimAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/IHRC904ProxyTests.js
  test/system-contracts/hedera-token-service/hrc-904/TokenRejectContract.js
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts-product

fix yaml files
  .github/workflows/manual-testing.yml
  .github/workflows/tests.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fix yaml files
  .github/workflows/tests.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

fixed filter in test files
  test/system-contracts/hedera-token-service/hrc-904/AirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/CancelAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/ClaimAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/IHRC904ProxyTests.js
  test/system-contracts/hedera-token-service/hrc-904/TokenRejectContract.js
Owners: @hashgraph/hedera-smart-contracts-product

feat: split up hip 904 tests into 3 batches (#1330)
  .github/workflows/manual-testing.yml
  .github/workflows/tests.yml
  test/system-contracts/hedera-token-service/hrc-904/AirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/CancelAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/ClaimAirdropContract.js
  test/system-contracts/hedera-token-service/hrc-904/IHRC904ProxyTests.js
  test/system-contracts/hedera-token-service/hrc-904/TokenRejectContract.js
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers, @hashgraph/hedera-smart-contracts-product

fix: updated ERC Registry workflow to reference the MNE repo under hiero-ledger organziation (#1313)
  .github/workflows/erc-registry-indexer.yml
Owners: @hashgraph/platform-ci, @hashgraph/platform-ci-committers, @hashgraph/release-engineering-managers

update dependency
  package-lock.json
  package.json
Owners: @hashgraph/hedera-smart-contracts-product
