Repository hashgraph/hedera-smart-contracts, pull requests merged in 2022-07, with the labels that each got.

#4 Default expiry modifier
  hts-precompile/ExpiryHelper.sol
  hts-precompile/FeeHelper.sol
  hts-precompile/HederaTokenService.sol
  hts-precompile/KeyHelper.sol
  hts-precompile/TokenCreateContract.sol
Labels: HTS

#34 Add token management functions to IHederaTokenService
  hts-precompile/IHederaTokenService.sol
Labels: enhancement, HTS, P1

#39 add token validity functions
  hts-precompile/IHederaTokenService.sol
Labels: enhancement
