Repository hashgraph/hedera-smart-contracts, pull requests merged in 2024-11, with the labels that each got.

#1002 ci: Update per Q3 audit findings
  .github/workflows/foundry_test.yml
  .github/workflows/migration-testing.yml
  .github/workflows/opcode-logger-testing.yml
  .github/workflows/test-workflow.yml
Labels: github_actions

#1009 chore: Upgraded references in github workflows
  .github/workflows/dapp-playground-workflow.yml
  .github/workflows/foundry_test.yml
  .github/workflows/migration-testing.yml
  .github/workflows/opcode-logger-testing.yml
  .github/workflows/test-workflow.yml
Labels: dependencies

#1014 chore: included missing contract-abi artifacts
  artifacts/contracts/system-contracts/hedera-token-service/examples/token-manage/TokenManagementContract.sol/TokenManagementContract.json
  contracts-abi/contracts/openzeppelin/ERC-1967-Upgrade/VoteProxy.sol/VoteProxy.json
  contracts-abi/contracts/openzeppelin/ERC-2771/ERC2771Forward.sol/ERC2771ForwardTest.json
  contracts-abi/contracts/openzeppelin/ERC-2981/ERC2981.sol/ERC2981Test.json
  contracts-abi/contracts/openzeppelin/ERC-4626/TokenVault.sol/TokenVault.json
  contracts-abi/contracts/openzeppelin/beacon-proxy/MyProxy.sol/MyProxy.json
  contracts-abi/contracts/openzeppelin/create2/ContractCreatorOZCreate2.sol/ContractCreatorOZCreate2.json
  contracts-abi/contracts/openzeppelin/finance/VestingWallet.sol/VestingWallet.json
  contracts-abi/contracts/openzeppelin/governor/ExampleGovernor.sol/ExampleGovernor.json
  contracts-abi/contracts/openzeppelin/multicall/MulticallTest.sol/MulticallTest.json
  contracts-abi/contracts/openzeppelin/proxy-upgrade/counter/Counter.sol/Counter.json
  contracts-abi/contracts/openzeppelin/proxy-upgrade/counter/CounterV2.sol/CounterV2.json
  contracts-abi/contracts/openzeppelin/proxy-upgrade/exchange/Exchange.sol/Exchange.json
  contracts-abi/contracts/openzeppelin/proxy-upgrade/exchange/ExchangeV2.sol/ExchangeV2.json
  contracts-abi/contracts/openzeppelin/transparent-upgradeable-proxy/MyCustomTransparentUpgradeableProxy.sol/MyCustomTransparentUpgradeableProxy.json
  contracts-abi/contracts/openzeppelin/uups-upgradable/VaultV1.sol/VaultV1.json
  contracts-abi/contracts/openzeppelin/uups-upgradable/VaultV2.sol/VaultV2.json
Labels: internal

#1027 ci: replace release notes generator action with one maintained by stepsecurity
  .github/workflows/release-automation.yml
Labels: github_actions
